{
    "extends": ["plugin:@docusaurus/recommended"],
    "overrides": [
        {
            "files": ["docs/**/*.{js,jsx,ts,tsx,md,mdx}"],
            "extends": ["plugin:mdx/recommended"]
        }
    ]
}